<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804486542696-uegjpooa0mjtn91au0q97dtgi74n5qkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804486542696-uegjpooa0mjtn91au0q97dtgi74n5qkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDXEIyGtr4Pz-FPnUT24avFXrqaU8mfqRA</string>
	<key>GCM_SENDER_ID</key>
	<string>804486542696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.ai</string>
	<key>PROJECT_ID</key>
	<string>flutterflow-73289</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflow-73289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804486542696:ios:9d112c587b1d29683c92dd</string>
</dict>
</plist>